/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Michroma&family=Nata+Sans:wght@100..900&family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Tektur:wght@400..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: calibri;
  color:white;
  user-select: none;
}
/* body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera 
} */
 .viewFrame {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  cursor: none;
  /* background-color: black; */
 }
.space {
  width: 100%;
  height: 100vh;
  position: relative;
  
  background: linear-gradient(
    to top,
    #ff6a00 0%,         /* Hot orange at base */
    #ff9100 5%,         /* Smooth transition to warm */
    #2c003e 30%,        /* Deep purple transition */
    #0b0b24 60%,        /* Space blue */
    #000000 100%        /* Full black at top */
  );
  /* overflow: hidden; */
}
.rocket{
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 120px;
  background: url('myImages/myRocket.png') no-repeat center center;
  background-size: contain;
  z-index: 2;
}


/* Nav bar Material */
nav{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 20px;
  z-index: 3;
}
nav .menu {
  display: flex;
  gap: 50px;
  font-family: "Tektur", sans-serif;
}
.menu h4{
  font-family: "Tektur", sans-serif;
  font-weight: 300;
  color:#cfd9ff;
}
.menu h4:hover {
  color: #ff6a00; /* Change color on hover */
  text-shadow: 0 0 10px #ff9100;
  /* cursor: pointer; */
  transition: color 0.3s ease;
}

/* star field */
.starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1; /* Ensure stars are behind other content */
  /* background-color: red; */
}



/* Logo */
.logo{
  height: 50px;
}

/* Welcome speech */
.welcomecover{
  width: 100%;
  height: auto;
  display:flex;
  justify-content: center;
  position: absolute;
  top: 25%;
}
.journeycover{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom:25%;
}
.welcome {
  position: relative;
  font-family: "Michroma", sans-serif;
  text-align: center;
  color: white;
  font-size: 4.2rem;
  z-index: 3;
}
.journey {
  font-family: "Michroma", sans-serif;
  text-align: center;
  color: white;
  font-size: 4rem;
  z-index: 2;
}
.Instruction {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #cfd9ff;
  font-weight: 300;
  font-size: 1rem;
  z-index: 2;
  font-family: "Tektur", sans-serif;
  text-shadow: 0.5px 0.5px  cyan;
}

/* Audio controls */
audio{
  position: absolute;
  z-index: 2;
}

/* mouseFollower */
.mouseFollower{
  width: 50px;
  height: 50px;
  background-image: url('cursor.svg');
  background-size: contain;
  position: absolute;
  z-index: 100;
  pointer-events: none;
}
.trail{
  position: relative;
  z-index: 100;
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  transform: translate(100%, 100%);
}
.trailets{
  position:absolute;
  width: 20px;
  height: 20px;
  z-index: 100;
  background-color: red;
  border-radius: 50%;
  transform: translate(100%, 100%);
}


/* footer */
.footer{
  width: 100%;
  height: 1%;
  z-index: 3;
  position: absolute;
  margin-top: 200vh;
  background-color: transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}


/* permissions page */
.ask{
  width: 100%;
  height:100vh;
  display:flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  z-index: 8;
  background-color: black;
}
.permission{
  width:60vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:3vw;
  align-items: center;
  background-color: black;
}
.permission h1{
  font-family: "Tektur", sans-serif;
  font-size: 5rem;
  color: white;
}
.enterBtn{
  width: 20vw;
  height: 10vh;
  position: relative;
  background-color: black;
  border:2px solid #09008c;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tektur", sans-serif;
  font-size: 2rem;
  color: white;
  overflow: hidden;
}
.enterBtn div{
  position:absolute;
  width: 30px;
  left:-5%;
  top:110%;
  aspect-ratio: 1;
  background-color: #09008c;
  transform:translate(-50%, -50%);
  border-radius: 50%;
  transition:all 0.6s ease;
}

.enterBtn:hover div {
  width:800px;
}


/* storyBoard */
.storyBoard {
  margin-top: -50vh;
}
/* Planets */

/* Mercury */
.mercury {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: black;
}